# absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1637088766493/work
# aiohttp @ file:///tmp/build/80754af9/aiohttp_1632748411861/work
# apex==0.1
appdirs==1.4.3
argon2-cffi==21.1.0
async-timeout==3.0.1
# attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
# backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bleach==4.1.0
blinker==1.4
# Bottleneck @ file:///tmp/build/80754af9/bottleneck_1607575130224/work
brotlipy==0.7.0
# cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1633010882559/work
certifi==2021.10.8
cffi==1.15.0
# chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
charset-normalizer==2.0.7
Click==7.0
# cryptography @ file:///tmp/build/80754af9/cryptography_1635366129652/work
cycler==0.10.0
# debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
# decorator @ file:///tmp/build/80754af9/decorator_1632776554403/work
defusedxml==0.7.1
docutils==0.18
einops==0.3.2
entrypoints==0.3
fonttools==4.25.0
# google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1635863830555/work
# google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
# grpcio @ file:///tmp/build/80754af9/grpcio_1637590821884/work
idna==3.3
imageio==2.11.1
# importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1636431527844/work
ipykernel==6.5.0
# ipython @ file:///tmp/build/80754af9/ipython_1635944169458/work
# ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.5
# jedi @ file:///tmp/build/80754af9/jedi_1611333729159/work
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter==1.0.0
# jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-console==6.4.0
# jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1636537028672/work
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
# kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612281846643/work
lockfile==0.12.2
luigi==2.8.2
# Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1637220118004/work
MarkupSafe==2.0.1
# matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1634667019719/work
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
# mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
monai==0.8.0
# multidict @ file:///tmp/build/80754af9/multidict_1607367781142/work
munkres==1.1.4
nbclient==0.5.5
nbconvert==6.2.0
nbformat==5.1.3
# nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx==2.6.3
nibabel==3.2.1
notebook==6.4.5
# numexpr @ file:///tmp/build/80754af9/numexpr_1618856529730/work
# numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1634095651905/work
# oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1622563202229/work
# olefile @ file:///Users/ktietz/demo/mc3/conda-bld/olefile_1629805411829/work
packaging==21.2
pandas==1.3.4
pandocfilters==1.5.0
# parso @ file:///tmp/build/80754af9/parso_1617223946239/work
# pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
# pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==8.4.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
# ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
# pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
# pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
# Pygments @ file:///tmp/build/80754af9/pygments_1629234116488/work
# PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1634405536383/work
# pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
pyparsing==2.4.7
pyrsistent==0.18.0
# PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404942/work
python-daemon==2.1.2
# python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
# pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets==1.2.0
pyzmq==22.3.0
qtconsole==5.2.0
QtPy==1.11.2
# requests @ file:///tmp/build/80754af9/requests_1629994808627/work
# requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
# rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
scikit-image==0.18.3
scikit-learn==1.0.1
scipy==1.7.2
Send2Trash==1.8.0
sip==4.19.13
# six @ file:///tmp/build/80754af9/six_1623709665295/work
sklearn==0.0
spawn==0.3.0
# tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1636578784510/work/tensorboard-2.7.0-py3-none-any.whl
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
# tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
torch==1.10.0
torch-tb-profiler==0.3.1
torchvision==0.11.1
# tornado @ file:///tmp/build/80754af9/tornado_1606942317143/work
tqdm==4.62.3
# traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
# typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1637155965157/work
urllib3==1.26.7
# wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
# Werkzeug @ file:///tmp/build/80754af9/werkzeug_1635505089296/work
widgetsnbextension==3.5.2
# yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1625232865577/work
# zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
